@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 98.5vh;
  border: 8px solid#39445a93;
  margin: 5px;
  padding: 0px 1.5% 1.5%;
  display: flex;
  flex-direction: column;
}


*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}

.flexItemsWrapper { 
  display: flex;
  justify-content: space-around;
  max-width: 90vw;
  margin: auto;
}

.flexItemsWrapper div {
  align-items: center;
}

.flex1 {
  width: 45%;
  padding: 0px 10px;
  float: left;
}

.flex2 {
  width: 50%;
  padding: 10px;
  align-self: center;
}

.hideSmall {
  display: block;
}

.hideLarge {
  display: none;
  margin: 0px;
}

.textCenter {
  text-align: center;
}

.strokeMe {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bgFadeCover {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0px;
  position: fixed;
  margin-top: -6px;
  z-index:-20;
}

@media (max-width: 800px) {
  .flexItemsWrapper {
      flex-direction: column;
      align-items: center;
  }
  
  .flex1 {
      width: 100%;
      align-items: center;
      margin: auto;
  }

  .flex2 {
      margin: auto;
      width: 100%;
  }

  .hideSmall {
    display: none;
    margin: 0px;
  }

  .hideLarge {
    display: block;
  }
  

}

/*
#mainDiv {
  background-image: url("./assets/fallSS1.jpg");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/